body {
  margin: 0;
  padding: 0 30px 40px 30px;
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(209, 209, 209, 1) 100%
  );
  color: #1d2c3c;
  min-height: 100vh;
}
